body {
    background-color: #F5F5DD;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}       
#header {
    background-color: burlywood;
    text-align: center;
    padding: 10px;
}
#header h1 {
    color: blue;
}
#header blockquote {
    background-color: rgb(253, 253, 179);
}
.menu ul {
    justify-content: center;
    display: flex;
    list-style: none;
    gap: 10px;
}
.fp:first-letter{
    font-size: 50px;
    color: blue;
}
.koleksi{
    text-align: center;
}
.koleksi img{
    width: 20%;
}
#soekarno {
    font-style: italic;
}