* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    margin: 0;
    color: black;
    padding: 4px;
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-grow: 1;
}

article, aside {
    min-width: 20vw;
}
footer, header {
    min-height:10vh;
}

nav {
    background-color: green;
    min-width: 20vw;
}

header, footer {
    background-color: yellow;
}

article {
    background-color: wheat;
    flex-grow: 1;
}

aside {
    background-color: pink;
}

nav, header, article, aside, footer {
    margin: 8px;
}